<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Regresar
      </ion-button>
    </ion-buttons>
    <ion-title>🏥 Lector de Estudio Metabólico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo-gradiente">

  <!-- Título Principal -->
  <ion-toolbar color="light">
    <ion-title size="large" class="titulo-leccion">🩻 Lector de Datos Metabólicos</ion-title>
  </ion-toolbar>

  <!-- Cuadrícula de tarjetas de datos -->
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="6">
        <ion-card class="card-color glucosa">
          <ion-card-header>
            <ion-icon name="pulse-sharp" class="icono-grande rojo"></ion-icon>
            <ion-card-subtitle class="subtitulo texto-negro">Glucosa</ion-card-subtitle>
            <ion-card-title class="valor texto-negro">{{ datos?.glucosa }} mg/dL</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card-color colesterol">
          <ion-card-header>
            <ion-icon name="pulse-sharp" class="icono-grande rojo"></ion-icon>
            <ion-card-subtitle class="subtitulo texto-negro">Colesterol Total</ion-card-subtitle>
            <ion-card-title class="valor texto-negro">{{ datos?.colesterol_Total }} mg/dL</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="card-color trigliceridos">
          <ion-card-header>
            <ion-icon name="thermometer-sharp" class="icono-grande naranja"></ion-icon>
            <ion-card-subtitle class="subtitulo texto-negro">Trigliceridos</ion-card-subtitle>
            <ion-card-title class="valor texto-negro">{{ datos?.trigliceridos }} mg/dL</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card-color imc">
          <ion-card-header>
            <ion-icon name="heart-circle" class="icono-grande azul"></ion-icon>
            <ion-card-subtitle class="subtitulo texto-negro">índice de masa corporal</ion-card-subtitle>
            <ion-card-title class="valor texto-negro">{{ datos?.indice_masa_corporal }} peso / estatura</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Mapa Mapbox -->
  <div id="map-container">
    <div id="map"></div>
  </div>

  <!-- Información de hospitales -->
  <div class="hospitales-info ion-text-center">
    <h2>🏥 Hospitales en Cuenca en caso de emergencia</h2>
    <ul>
      <li>
        <strong>Hospital Vicente Corral Moscoso</strong><br />
        📍 Coordenadas: [-78.99237, -2.91113]<br />
        📞 Teléfono: (07) 409 6006
      </li>
      <li>
        <strong>Hospital José Carrasco Arteaga (IESS)</strong><br />
        📍 Coordenadas: [-78.970118, -2.898698]<br />
        📞 Teléfono: (07) 286 1500
      </li>
      <li>
        <strong>Hospital Universitario del Río</strong><br />
        📍 Coordenadas: [-78.9607957, -2.8929386]<br />
        📞 Teléfonos:<br />
        &nbsp;&nbsp;&nbsp;Hospitalización: (07) 245 9555<br />
        &nbsp;&nbsp;&nbsp;Consultorios: (07) 245 9553<br />
        &nbsp;&nbsp;&nbsp;Ambulancia: 0984 362 936<br />
        &nbsp;&nbsp;&nbsp;Laboratorio: 0998 127 539<br />
        &nbsp;&nbsp;&nbsp;Imágenes: 0992 798 000
      </li>
    </ul>
  </div>
</ion-content>